---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-primary: #ac033a;
$icon-font-path: "../assets/fonts/bootstrap/";

@import "bootstrap";

@import "time";

@import "activities";
@import "contributors";
@import "events";
@import "friends";
@import "sponsors";

.navbar--coeinf {
  float: left;
  display: block;
  margin-right: 13px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 50px;
  background: rgba(255,255,255,0.3);
  &:hover {
    margin-left: -15px;
    padding-left: 15px;
    background: rgba(0,0,0,0.1);
  }

  img {
    margin: 5px 13px 5px 0;
  }
}
@media (max-width: $screen-sm-min) { 
  .navbar--coeinf {
    display: none;
  }
}

.label.label-advanced, .nav-pills > li.nav-pill-advanced.active > a {
  background: adjust-hue(lighten(desaturate($brand-primary, 30%), 20%), -90);
}

.panel-body p:last-child {
  margin-bottom: 0;
}

.collapse-reverse-inline {
  display: inline;

  &.in {
    display: none;
  }
}

@media (max-width: $screen-sm-min) { 
  .xs-smaller {
    font-size: 65%;
  }
}

@media (min-width: $screen-sm-min) {
  .border-md-right {
    border-right: 1px solid #eee;
  }
}

@media (max-width: $screen-sm-min) { 
  .text-xs-left {
    text-align: left;
  }
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

@media (max-width: $screen-sm-min) { 
  .margin-xs-top-10 {
    margin-top: 10px;
  }
  .margin-xs-top-20 {
    margin-top: 20px;
  }
}

