---
layout: default
---



{% include activities-banner.html %}


{% include fn-events-all.jk %}
{% assign events=result %}
{% include fn-next.jk pages=events %}
{% assign next_events = result %}
{% include events-home.html events=next_events %}

{% assign contributors = site.contributors 
    | where_exp:'contributor','contributor.slug != "tbd"' %}
{% include contributors-home.html contributors=contributors %}

{% include friends-home.html friends=site.friends %}

{% include fn-sponsors-all.jk %}
{% include sponsors-home.html sponsors=result %}


