---
layout: page
title: Col·laboradors
---

<div class="row persons">
{% for person in site.people reversed %}
  <div class="col-4 col-m-12">
  {% include person-card.html person=person %}
  </div>
{% endfor %}
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
<script>
  $(window).ready(function () {
    var $container = $(".row.persons");
    $container.find('img').on('load', function() {
      $container.masonry();
    });
  });
</script>
