{% assign _contributors = include.contributors %}
{% assign _class = include.class %}

<div class="contributors-list {{ _class }}">

{% for _contributor in _contributors %}
  {% include fn-image.jk image=_contributor.image %}
  {% assign _contributor_image = result %}

  <a href="{{ site.baseurl }}{{ _contributor.url }}">    
    <div class="contributor-image"
      style="background-image: url({{ _contributor_image }});"
      ></div>
    <p>{{ _contributor.title }}</p>
  </a>
{% endfor %}

</div>
