{% assign m = include.date | date: "%-m" %}
{% case m %}
  {% when '1' %}<span class="of">de</span> Gener
  {% when '2' %}<span class="of">de</span> Febrer
  {% when '3' %}<span class="of">de</span> Març
  {% when '4' %}<span class="of">d'</span>Abril
  {% when '5' %}<span class="of">de</span> Maig
  {% when '6' %}<span class="of">de</span> Juny
  {% when '7' %}<span class="of">de</span> Juliol
  {% when '8' %}<span class="of">d'</span>Agost
  {% when '9' %}<span class="of">de</span> Setembre
  {% when '10' %}<span class="of">d'</span>Octubre
  {% when '11' %}<span class="of">de</span> Novembre
  {% when '12' %}<span class="of">de</span> Desembre
{% endcase %}
