{% assign _tabindex = include.tabindex %}
{% include fn-event-tbd-href.jk %}
{% assign _event_tbd_href = result %}


<a href="{{ _event_tbd_href }}" target="_blank" class="event-image event-image-tbd event-image-small" 
    {% if _tabindex %}tabindex="{{ _tabindex }}"{% endif %}>
  <div class="event-image--caption">
    <div class="event-image--title">
      {% if include.text %}
        {{ include.text }}
      {% else %}
        Proposa la propera xerrada&nbsp;»
      {% endif %}
    </div>
  </div>
</a>
