{% include fn-next.jk pages=site.events %}
{% assign _promo_events = result %}
{% if _promo_events.size > 0 %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="well">
  <h2 class="margin-top-0">Propers Vespres</h2>
  <div class="row margin-top-20">
    {% for _event in _promo_events limit:4 %}
    <div class="col-lg-3 col-md-4 col-sm-6
      {% if forloop.index >= 4 %}hidden-md{% endif %}
      {% if forloop.index >= 3 %}hidden-sm{% endif %}
      {% if forloop.index >= 2 %}hidden-xs{% endif %}
      ">
      {% include event-image.html event=_event small=true %}
    </div>
    {% endfor %}
  </div>
  <div class="margin-top-10">
    <a href="{{ site.baseurl }}/">Veure tots »</a>
  </div>
</div>

    </div>
  </div>
</div>
{% endif %}
