<footer class="margin-top-20">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <br><br><br>
        <div class="well">
          
          <a href="{{ site.baseurl }}/" 
            class="text-muted">Home</a> ·
          <a href="https://coeinf.cat" target="_blank" 
            class="text-muted">Col·legi</a> ·
          <a href="https://github.com/coeinf/vespres" target="_blank" 
            class="text-muted">Fork Me</a> ·
          <a href="https://twitter.com/coeinf" target="_blank" 
            class="text-muted">Twitter</a> ·

          <a href="https://github.com/coeinf/vespres/edit/master/{{ page.path }}"
            target="_blank" class="text-muted">Edit Me</a>

        </div>
      </div>
    </div>
  </div>
</footer>
