<div class="navbar">
  <div class="container">


    <span class="navbar-brand ellipsis">
      <a href="{{ site.baseurl }}/">
        <span class="{% if page.url != '/' %}hidden-mobile{% endif %}">
          Vespres al Col·legi
        </span>
        {% assign backtext = page.backtext | default: layout.backtext %}
        {% assign backurl = page.backurl | default: layout.backurl %}
        {% if backurl %}
          </a>
          <a href="{{ site.baseurl }}{{ backurl }}">
        {% endif %}
        {% if page.url != '/' %}
          <span class="hidden-desktop">&lt;</span>
          <span class="hidden-mobile">&gt;</span>
          {% if backtext %}
            {{ backtext }}
          {% else %}
            {{ page.title }}
          {% endif %}
        {% endif %}
      </a>
    </span>

    <div class="float-right">
      <!--
      {% if page.url != '/' %}
      {% unless page.url contains '/event/' %}
      <span class="hidden-mobile">Proper esdeveniment el</span>
      <span class="navbar-next-event">
      {% include next-events.html limit=1 template="event-minis.html" %}
      </span>
      {% endunless %}
      {% endif %}
      -->
      <a class="btn btn-invert" href="{{ site.baseurl }}/about/">Què és?</a>
    </div>

  </div>
</div>
