<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar--coeinf" href="http://enginyeriainformatica.cat">
        <img height="40" width="89" class="lazy" alt="Enginyeria en informàtica de Catalunya" data-src="{{ site.baseurl }}/assets/images/informaTICa_t.png"
      ></a>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <span><img height="20" src="{{ site.baseurl }}/assets/images/vespres-moons-150.png" alt="logo de dues les llunes"></span>
        <small>els</small> Vespres <small>del</small> Col·legi
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Canals <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for _track in site.tracks %}
            <li><a href="{{ site.baseurl }}{{ _track.url }}">{{ _track.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about">Què és?</a></li>
      </ul>
    </div>
  </div>
</nav>
