{% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
{% assign template = include.template | default:'event-next-wide.html' %}
{% if include.limit %}
  {% assign limit = include.limit %}
{% else %}
  {% assign limit = site.posts | size %}
{% endif %}

{% for event in site.posts reversed %}
  {% capture blogDate %}{{event.date | date: '%s' }}{% endcapture %}
  {% if blogDate >= currentDate %}
    {% assign next_event = event %}
    {% break %}
  {% endif  %}
{% endfor %}

{% include {{ template }} event=next_event %}
