{% assign currentDate = 'now' | date: '%s' %}
{% assign activities = '' | split:'' %}
{% assign template = include.template | default:'activity-list.html' %}
{% if include.limit %}
  {% assign limit = include.limit %}
{% else %}
  {% assign limit = site.activities | size %}
{% endif %}

{% for activity in site.activities reversed %}
  {% capture blogDate %}{{activity.date | date: '%s' }}{% endcapture %}
  {% if blogDate >= currentDate and limit > 0 %}
    {% assign activities = activities | push:activity %}
    {% assign limit = limit | minus:1 %}
  {% endif  %}
{% endfor %}

{% include {{ template }} activities=activities %}
