{% assign currentDate = 'now' | date: '%s' %}
{% assign events = '' | split:'' %}
{% if include.limit %}
  {% assign limit = include.limit %}
{% else %}
  {% assign limit = site.posts | size %}
{% endif %}

{% for event in site.posts %}
{% capture blogDate %}{{event.date | date: '%s' }}{% endcapture %}
{% if blogDate < currentDate and limit > 0 %}
  {% assign events = events | push:event %}
  {% assign limit = limit | minus:1 %}
{% endif  %}
{% endfor %}

{% include event-cards.html events=events %}
