.row {
  position: relative;
  margin-left: -8px;
  margin-right: -8px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class^="col-"] {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i/12);
  }
}

@media (max-width: $mobile-max) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      width: percentage($i/12);
    }
  }
}
