.lg {
  font-size: 1.5em;
}
.lg-2 {
  font-size: 2em;
}
.lg-3 {
  font-size: 3em;
}
.lg-5 {
  font-size: 5em;
}
.lg-6 {
  font-size: 6em;
}
.lg-7 {
  font-size: 7em;
}

.text-right {
  text-align: right;
}
.float-right {
  float: right;
}

.ellipsis {
  //width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
