time.icon {
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: solid rgba(black, 0.7) 0.05em;
  border-top: none;
  border-radius: 2px;
  overflow: hidden;

  & > * {
    display: block;
    width: 100%;
    font-size: 0.14em;
    font-weight: bold;
    text-align: center;
    font-style: normal;
  }


  strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    background: rgba(black, 0.7);
    color: rgba(white, 0.9);
  }

  em {
    position: absolute;
    bottom: 0.4em;
  }

  & > span {
    font-size: 0.4em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    text-shadow: none;
  }
}

time.icon.white {
  border: solid rgba(white, 0.9) 0.05em;
  border-top: none;
  
  strong
  {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    background: rgba(white, 0.9);
    color: rgba(black, 0.7);
  }
}
