---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% comment %}TITLE{% endcomment %}
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      {% comment %}MAIN IMAGE{% endcomment %}
      {% include fn-image.jk image=page.image %}
      {% assign _image = result %}
      <img src="{{ _image }}" style="width: 100%;" aria-hidden="true">

      {% comment %}DESCRIPTION{% endcomment %}
      {% if page.description %}
      <p class="lead margin-top-10" style="margin-bottom: 0">
        {{ page.description }}
      </p>
      {% endif %}

      {% comment %}CONTENT{% endcomment %}
      <div class="panel panel-default margin-top-20">
        <div class="panel-body">
          {{ content }}
        </div>
      </div>

      {% include prev-next.html %}
    </div>

    <div class="col-md-4 col-md-offset-1">
      {% comment %}INFORMACIO{% endcomment %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Informació
        </div>
        <div class="panel-body">

          <strong>Nom</strong>: {{ page.title }}.<br>

          {% if page.email %}
            <strong>Email</strong>: {{ page.email }}.
            <br>
          {% endif %}

          {% if page.website %}
            <strong>Website</strong>: 
              <a href="{{ page.website }}" target="_blank">{{ page.website }}</a>.
            <br>
          {% endif %}

          {% if page.meetup %}
            <strong>Meetup</strong>:
              <a target="_blank" href="https://www.meetup.com/{{page.meetup}}/">https://www.meetup.com/{{page.meetup}}/</a>
            <br>
          {% endif %}

          {% if page.linkedin %}
            <strong>LinkedIn</strong>: 
              <a href="{{ page.linkedin }}" target="_blank">{{ page.linkedin }}</a>.
            <br>
          {% endif %}

          {% if page.github %}
            <strong>GitHub</strong>: 
              <a href="http://github.com/{{ page.github }}" target="_blank">{{ page.github }}</a>.
            <br>
          {% endif %}
        </div>
      </div>

      {% if page.meetup_widget %}
      <div class="text-center">
      <iframe style="display: inline-text;" width="250" height="380" src="{{page.meetup_widget}}" frameborder="0"></iframe>
      </div>
      {% endif %}


      {% comment %}TWITTER{% endcomment %}
      {% if page.twitter %}
      <a class="twitter-timeline" href="https://twitter.com/{{page.twitter}}" style="height: 440px; display: block;" data-height="440" data-chrome="nofooter">Tweets by {{page.twitter}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% endif %}

      {% comment %}PROPOSA nou friend{% endcomment %}
      {% capture file_value %}---
title: Nom del Meetup
image: https://placeimg.com/800/450/arch
# website: url
# twitter: @nom
# github: @nom
# meetup: @nom
# meetup_widget: https://...
---
Explica perque ens interessa el teu meetup.
{% endcapture %}
      <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://github.com/coeinf/vespres/new/master/_friends?&value={{ file_value | truncate: 4096 | url_encode }}">
        Proposa Meetup
      </a>
      <br>
    </div>
  </div>


  {% comment %}TALKS{% endcomment %}
  <div class="row">
    {% if _talks.size > 0 %}
      <div class="col-md-12">
        <hr>
        <h2 style="margin-bottom: 0">Xerrades</h2>
      </div>
      {% include events-list-short.html events=_talks %}
      <div class="col-md-12"><hr></div>
    {% endif %}
  </div>
</div>


{% include events-banner.html %}
