---
layout: default
backtext: "Col·laboradors"
backurl: /people
---
<div class="container">
  <div class="row">
    <div class="col-8 col-m-12">
      <h1>{{ page.title }}</h1>
      <main class="document">
        <ul>
          {% if page.website %}
          <li class="ellipsis">
            <strong>Website</strong>:&nbsp;<a target="_blank" href="{{page.website}}">{{page.website}}</a>
          </li>
          {% endif %}
          {% if page.twitter %}
          <li class="ellipsis">
            <strong>Twitter</strong>:&nbsp;<a target="_blank" href="https://twitter.com/{{page.twitter}}/">https://twitter.com/{{page.twitter}}/</a>
          </li>
          {% endif %}
          {% if page.linkedin %}
          <li class="ellipsis">
            <strong>Meetup</strong>:&nbsp;<a target="_blank" href="https://www.linkedin.com/{{page.linkedin}}/">https://www.linkedin.com/{{page.linkedin}}/</a>
          </li>
          {% endif %}
        </ul>

        {{ content }}

        {% assign talks = '' | split:'' %}
        {% for post in site.posts %}
          {% if post.speakers contains page.slug %}
            {% assign talks = talks | push:post %}
          {% endif %}
        {% endfor %}
        
        {% if talks.size > 0 %}
          <h2>Xerrades</h2>
          <ul class="link-list">
          {% for talk in talks %}
            {% capture formattedDate %}{% include date.html date=talk.date %}{% endcapture %}
            <li style="margin-bottom: 12px;">
              <a href="{{ site.baseurl }}{{ talk.url }}">
                <strong>{{ talk.title }}</strong><br>
                <small>{{ formattedDate | rstrip }}. {{ talk.excerpt | markdownify | strip_html}}</small><br>
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}

      </main>

      {% include prev-next.html %}
    </div>
    <div class="col-1"></div>
    <div class="col-3 hidden-mobile">
      <img src="{{ page.photo }}" style="width: 100%; border-radius: 0 0 2px 2px;">
      <br><br>

      {% if page.twitter %}
      <a class="twitter-timeline" href="https://twitter.com/{{page.twitter}}" style="height: 440px; display: block;" data-height="440" data-chrome="nofooter">Tweets by {{page.twitter}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      {% endif %}
    </div>
  </div>
  <br><br>
  {% include next-event.html %}

</div>
