---
layout: default
backtext: "Els Vespres"
backurl: /
---
{% include event-cover.html event=page %}

<div class="container">
  <div class="row">
    <div class="col-8 col-m-12">
      <main class="document">
        <h1>{{ page.title }}</h1>
        <ul>
          <li>
            <strong>Dia</strong>: {% include date.html date=event.date %}
          </li>
          <li>
            <strong>Hora</strong>: {{ page.start_time }} - {{ page.end_time }}
          </li>
          <li>
            <strong>Lloc</strong>: {% include venue-mini.html venue_ref=event.venue %}
          </li>
          {% if page.website %}
          <li class="ellipsis">
            <strong>Website</strong>:&nbsp;<a target="_blank" href="{{page.website}}">{{page.website}}</a>
          </li>
          {% endif %}
        </ul>

        {{ content }}

      </main>
      <div class="hidden-desktop">
        <h3>Presentat per:</h3>
        {% for speaker_ref in page.speakers %}
        {% include person-card.html person_ref=speaker_ref %}
        {% endfor %}

        <h3>Localització:</h3>
        {% include venue-card.html venue_ref=page.venue %}

        <h3>Sponsors</h3>
        {% include sponsors.html sponsors_ref=page.sponsors class="col-m-6" %}
      </div>

      <br>
      {% include prev-next.html %}
    </div>
    <div class="col-1"></div>
    <div class="col-3 hidden-mobile">
      <h3>Presentat per:</h3>
      {% for speaker_ref in page.speakers %}
      {% include person-card.html person_ref=speaker_ref %}
      {% endfor %}

      <h3>Localització:</h3>
      {% include venue-card.html venue_ref=page.venue %}

      <h3>Sponsors</h3>
      {% include sponsors.html sponsors_ref=page.sponsors %}
    </div>
  </div>
  {% include next-event.html %}
</div>
